.elementor-panel .elementor-tab-control-ranksmile-tab a:before {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20226%20226%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M91.4595%2026.5015C102.568%2012.8345%20123.432%2012.8345%20134.54%2026.5015C140.447%2033.7678%20149.618%2037.5668%20158.932%2036.6049C176.451%2034.7958%20191.204%2049.5488%20189.395%2067.0678C188.433%2076.382%20192.232%2085.5535%20199.498%2091.4595C213.165%20102.568%20213.165%20123.432%20199.498%20134.54C192.232%20140.447%20188.433%20149.618%20189.395%20158.932C191.204%20176.451%20176.451%20191.204%20158.932%20189.395C149.618%20188.433%20140.447%20192.232%20134.54%20199.498C123.432%20213.165%20102.568%20213.165%2091.4595%20199.498C85.5535%20192.232%2076.382%20188.433%2067.0678%20189.395C49.5488%20191.204%2034.7958%20176.451%2036.6049%20158.932C37.5668%20149.618%2033.7678%20140.447%2026.5015%20134.54C12.8345%20123.432%2012.8345%20102.568%2026.5015%2091.4595C33.7678%2085.5535%2037.5668%2076.382%2036.6049%2067.0678C34.7958%2049.5488%2049.5488%2034.7958%2067.0678%2036.6049C76.382%2037.5668%2085.5535%2033.7678%2091.4595%2026.5015ZM73%20112.5a7.5%207.5%200%201%200%2015%200a7.5%207.5%200%201%200%20-15%200M123%20112.5a7.5%207.5%200%201%200%2015%200a7.5%207.5%200%201%200%20-15%200M88%20125.5C97%20141%20113%20141%20122%20125.5C119.5%20129%2098.5%20129%2088%20125.5Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}

#ranksmile-elementor-modal-holder {
  z-index: 99;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  overflow: scroll;
  box-sizing: border-box;
  max-width: 300px;
  transition: all 0.3s;
}
